/* flex布局，中间对齐 */

.center{
	/* #ifndef APP-NVUE */
	display: flex;
	/* #endif */
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.row{
	/* #ifndef APP-NVUE */
	display: flex;
	/* #endif */
	align-items: center;
	flex-direction: row;
}

/* 隐藏滚动条的问题，但依然具备可以滚动的功能 */
/* #ifdef MP || APP-PLUS */
.onScorll ::-webkit-scrollbar {
	display: none;
}
/* #endif */

/* 解决 H5 滚动条 */
/* #ifdef H5 */
.onScorll ::-webkit-scrollbar{
	width: 0 !important;
	height: 0 !important;
	display: none;
}
/* #endif */

