/* uni.scss */
@import '@/uni_modules/uview-ui/theme.scss';

/* 自定义颜色 */
$senhe-theme-color: #1eddb2;
$icon-color: #bfbfbf;
// cdcdcd
$tag-color: #efefef;
$tag-background-color: rgba(43, 43, 43, 0.5);
$page-background-color: #f5f5f5;
$price-color: #fe6a00;

/* #ifndef APP-NVUE */
@mixin text-ellipsis($clamp: 1){
	text-overflow:ellipsis;
	overflow:hidden;
	display:-webkit-box;
	-webkit-box-orient:vertical;
	-webkit-line-clamp: $clamp;
}
/* #endif */

@mixin text-overflow {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

@mixin flex-layout($direction: row, $justifyContent: none, $alignItem: none){
	/* #ifndef APP-NVUE */
	display: flex;
	/* #endif */
	flex-direction: $direction;
	@if $justifyContent  != none {
		justify-content: $justifyContent;
	}
	@if $alignItem != none {
		align-items: $alignItem;
	}
}